<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SMC.PresentationLayer.Properties.Settings.ConnectionString"
            connectionString="Dsn=conexion;uid=sa;pwd=sa" providerName="System.Data.Odbc" />
        <add name="SMC.PresentationLayer.Properties.Settings.ConnectionString1"
            connectionString="Dsn=recursoODBC;uid=sa" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>